@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif; 
}
#testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 7rem;
}
#testimonials h2 {
    font-size: 36px;
}
#testimonials .row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#testimonials .row .col{
    background-color: #fff;
    margin: 0 1rem;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 5px 5p 10px 10px rgba(0,0, 0, 0.2);
}
.border{
    height: 3px;
    width: 160px;
    background: red;
    margin: 15px 0 30px;
}

 #testimonials .row .col  img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

#testimonials .row .col h3{
    font-size: 20px;
}

#testimonials .row .col .stars{
    margin: 15px 0;
    color: red;
}

#testimonials .row .col p{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
}

@media (max-width:992px){
    .row{
        flex-direction: column;
    }
    #testimonials .row .col{
        margin: 1rem 0;
    }

}
@media (max-width:600px){
    #testimonials{
        padding: 3rem;
    }
    
}