@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f293a;
}
.container{
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container span{
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px ;
    background-color:#2c4766 ;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i)*(360deg / 50)));
    animation: animatedBlink 3s linear infinite;
    animation-delay: calc(var(--i)*(3s / 50));

}
@keyframes animatedBlink{
    0%{
        background: #0ef;
    }
    25%{
        background: #2c4766;
    }
}
.login-box{
    position: absolute;
    width: 400px;
    
}
.login-box form{
    width: 100%;
    padding: 0 50px;
}
h2{
    font-size: 2rem;
    color: #0ef;
    text-align: center;
}
.input-box{
    position: relative;
    margin: 25px 0;
}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    color: #fff;
    padding: 0 20px;
    border-radius: 40px;
}
.input-box input:focus,
.input-box input:valid{
    border-color: #0ef;
}
.input-box label{
    position: absolute;
    top: 50%;
    left:20px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.5s ease;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: 1px;
    font-size: 0.8rem;
    background: #1f293a;
    padding:0 6px;
    color: #0ef;
}
.forget-password{
text-align: center;
margin: -15px 0 10px;
}
.forget-password a{
    color:#fff;
    font-size: 0.85;
    text-decoration: none;
}
.forget-password a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    color: #1f293a;
    font-weight: 600;
}

.signup-link{
    margin: 20px 0 10px;
    text-align: center;
}
.signup-link a{
    color: #0ef;
    font-size: 1rem;
    text-decoration:none ;
    font-weight: 600;
}
.signup-link a:hover{
    text-decoration: underline;
}
