@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Ubuntu", sans-serif;
    overflow: hidden;
}
#home{
    height: 100vh;
    background: #0162be;
    color: #fff;
}
.container{
    margin: 0 7rem;
    height: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
nav .logo{
    width: 50px;
}
ul{
    list-style: none;
}
ul a{
    text-decoration: none;
    padding: 0 20px;
    color:#fff;
}
nav ul{
    display: flex;
}
#home .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}
#home .content img{
    width: 220px;
    animation: animation1 1s ease-out;
}
.content-text h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;

}
#home .content .content-text span{
    font-size: 70px;
}
#home .content .content-text p{
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.4;
    Width:60%;
}
#home .content .content-text .btn{
    font-size: 14px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    transition: all 1s;
}
#home .content .content-text .btn:hover{
    background-color: transparent;
    color:#000;
    border: 1px solid #fff;
}
.social{
    margin-left: 3rem;
}
.social i{
    color:#fff;
    font-size: 25px;
    margin: 10px 0;
    animation: animation1 1s ease-out;
}
.pepsi-types{
    width:100px;
    margin: auto;
    display: block;
    animation: animation2 3s ease-out;
}

@keyframes animation1{
    0%{
        transform: translatex(500px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes animation2{
    0%{
        transform: translateY(200px);
    }
    100%{
        transform: translateY(0);
    }
}

